@model Course

<h3>Course</h3>
<br/>
<form method="post" asp-action="UpdateCourse">
  <div class="text-danger" asp-validation-summary="ModelOnly"></div>
  <div class="mb-3 row">
    <div class="col-2">
      <label asp-for="Code" class="col-form-label"></label>
    </div>
    <div class="col-6">
      <input type="text" asp-for="Code" class="form-control"/>
    </div>
    <div class="col">
      <span class="text-danger" asp-validation-for="Code"></span>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-2">
      <label asp-for="CourseNum" class="col-form-label"></label>
    </div>
    <div class="col-6">
      <input type="number" asp-for="CourseNum" class="form-control"  min="101"/>
    </div>
     <div class="col">
      <span class="text-danger" asp-validation-for="CourseNum"></span>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-2">
      <label asp-for="Name" class="col-form-label"></label>
    </div>
    <div class="col-6">
      <input type="text" asp-for="Name" class="form-control"/>
    </div>
     <div class="col">
      <span class="text-danger" asp-validation-for="Name"></span>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-2">
      <label asp-for="Description" class="col-form-label"></label>
    </div>
    <div class="col-6">
      <input type="text" asp-for="Description" class="form-control"/>
    </div>
     <div class="col">
      <span class="text-danger" asp-validation-for="Description"></span>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-2">
      <input type="submit" class="btn btn-primary" value="Save">
    <div class="col-6">
    </div>
  </div>
</form>